@font-face {
  font-family: "Questrial", sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
}

html, footer {
    background: #99a8b7;
    
}

body {
  font-family: "Questrial", sans-serif;
}

footer {
    color: #212529;
}
.bd-img {
    width : 100%;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
  }
  
  footer p {
    /* margin-bottom: .25rem; */
  }



/* STYLE DES LIENS */
  a {
    text-decoration: none !important; 
    color: #252525;
  }
  a:hover{
    color: #a883d0;

  }
  /* //-----------------------------------------------------------------------------//
// \\--------------------style de la view public d'un seul site----------------------------//
// //-----------------------------------------------------------------------------// */

#public-onesite{

}
#onesite-icon{
  height: auto;
  align-content: center;
}

#onesite-icon{
  transition: 0.2s;
}
#onesite-icon:hover{
  margin-left: 10px;
  margin-bottom: 3px;
}

/* -------------------------------------------------------------------------------------------------------- */
  /* CSS Masonry HOME*/
  .grid {
    background: #f3f3f3;
    max-width: 100%;
  }
  
  /* clearfix  */
.grid:after {
    content: '';
    display: block;
    clear: both;
  } 
  
  /* ---- grid-item ---- */
  
  .grid-item {
    width: 160px;
    height: 120px;
    float: left;
    background:transparent;
    border: 0px solid #252525;
    border-color: #252525;
    border-radius: 0px;
  }
  
  .grid-item--width2 { width: 320px; }
  .grid-item--width3 { width: 480px; }
  .grid-item--width4 { width: 640px; }
  
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; } 

/* CSS About */

.logo {
  width: 20%;
  height: 20%;
  float : left; 
}


* /*wild card*/
{
	box-sizing: border-box;
}



/* masonry allsite */
/* .grid-sizer,.grid-item{
	width: 100%;
  margin: 1rem;
  padding: 1rem;
  
}

@media (min-width: 1200px){
	.grid-sizer,.grid-item{
	width: calc((100% - 15%) / 4);

  }


} 
 @media (max-width: 1199px){
    .grid-sizer,.grid-item{
    width: calc((100% - 15%) / 2);
  
    }
  }
   */


/* ----------------------------------------------------STYLE VIEW ALLSITE---------------------------------------------------- */

   #allsite{
     display: flex;
     /* float: right; */
     flex-wrap: wrap;

     align-content: center;
   }
   #allsite .card-body{
     align-content: center;
    
   }
   .card{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;

   }
   .btn{
     background-color:  #a883d0;
     border-color: #a883d0;
   }
   .btn:hover{
     background-color: #a7e36b;
     border-color: #a7e36b;
   }

   .searchbtn{
     color:#f3f3f3 !important;
   }


   /* ----------------------------------------------------STYLE VIEW ONESITE---------------------------------------------------- */

   