@font-face {
  font-family: "Questrial", sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
}

html, footer {
    background: #99a8b7;
    
}

body {
  font-family: "Questrial", sans-serif;
}

footer {
    color: #212529;
}
.bd-img {
    width : 100%;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
  }
  
  footer p {
    /* margin-bottom: .25rem; */
  }

  /* CSS Isotope*/
.grid-item { width: 25%; }
.grid-item-width2 { width: 50%; }
